# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.cache/
*.egg-info/
dist/
build/

# Ambiente/IDE
.venv/
env/
.vscode/
.idea/

# Saídas locais
out/
out/**

# Config local (não versionar conteúdo)
config/*
!config/.gitkeep
